.deal-container {
    display: flex;
    width: 50%;
    margin-top: 1em;
    justify-content: center;
    margin-left: 400px;

}

.deal-1 {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0;
    background-image: url("/images/iteration-2-images/cta/kart-1.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    padding: 4rem 1rem;
    margin-right: 10px;
}

.other-deals {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    font-family: "Barlow", sans-serif;    
}

.deal-2 {
    margin: 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0;
    background-image: url("/images/iteration-2-images/cta/kart-2.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}

.deal-3 {
    margin: 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0;
    background-image: url("/images/iteration-2-images/cta/kart-3.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}

.deal-button {
    border-radius: 50px;
    padding: 1em 1.5em;
    width: 40%;
    font-family: "Barlow",sans-serif;
    font-weight: 600;
    font-size: 1rem;
}