/* Ortalanmış ve genişliği sınırlı container */
.section-head {
    max-width: 800px;
    margin: 0px auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

/* Açıklama kısmı */
.container-aciklama {
    background-color: #FAF7F2;
    padding: 20px;
    border-radius: 10px;
}

/* Boyut ve hamur birlikte */
.secim-yap {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.boyut-sec,
.hamur-sec {
    flex: 1;
}

/* Checkbox kutuları grid */
.checkbox-container {
    width: 100%;
}

.checkbox {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    margin-top: 15px;
}

.checkbox-item {
    display: flex;
    align-items: center;
}

.order-note {
    width: 100%;
}

.order-note textarea {
    width: 100%;
    padding: 10px;
    resize: none;
    border-radius: 5px;
    border: 0px solid gray;
    opacity: 0.8;
    background-color: #FAF7F2;
}

/* Sipariş hesaplama bölümü */
.calculation {
    display: flex;
    justify-content: space-between;
    align-items: end;
    gap: 20px;
    width: 100%;
}

.order-counter {
    display: flex;
    align-items: center;
    gap: 10px;
}

.order-btn {
    flex: 1;
    padding: 15px;
    border: 1px solid #eee;
    border-radius: 10px;
    background-color: #fff;
}

/* Diğer stiller */
.menu-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rating {
    display: flex;
    gap: 10px;
}

button {
    background-color: #FDC913;
    border-radius: 5px;
    border: none;
    padding: 8px 12px;
    font-weight: bold;
}

p {
    color: #5F5F5F;
    margin: 0;
}

option {
    color: #5F5F5F;
}

.order-error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

.siparisver-btn {
    width: 100%;
    height: 40px;
    font-weight: bold;
}

.artir-azalt-btn {
    width: 40px;
    height: 40px;
}

/* checkbox kutusu */
.checkbox-item input[type="checkbox"] {
    display: none;
}

.checkbox-item label {
    display: inline-block;
    width: 100%;
    padding: 8px 12px;
    border: 2px solid #FDC913;
    border-radius: 8px;
    text-align: center;
    background-color: #fff;
    color: #333;
    cursor: pointer;
    font-weight: 500;
    transition: all 0.3s ease;
}

.checkbox-item input[type="checkbox"]:checked + label {
    background-color: #FDC913;
    color: #000;
    font-weight: bold;
    box-shadow: 0 0 0 2px #FDC913;
}

