.order-result {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #CE2829;
    color: #FAF7F2;
    height: 70vh;

}

.order-result h1 {
    font-family: 'Roboto Condensed';
    font-weight: 200;
}